body{
background-color:#FFEFD5 ;
color: #8b4513;
}
table{
width:300px;
margin:auto;
border-collapse:collapse;
}
#tartalom{
    float:right;
    width:645px;
    padding:40px;
    padding-top:20px;   
}
#jobb{
width:120px;
text-align:center;
}
#fejlec{
width:100%;
padding:5px;
background-image:url(szines.jpg)
}
#menu
{
    padding-top:20px;
    width:250px;
    float:left;
}
#fokeret
{
    width:1000px;
    margin:auto;
}
td{
    border:1px solid green;
    
}
li{
    border:2px solid lightblue;
    padding:5px;
    margin:10px;
    background-color:white;
    list-style-image:url(chili-pepper-icon.gif)
}
a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}